.application-navbar {
  background: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.31);
  height: 100px;

  display: flex;
  align-items: center;

  &__brand {
    font-size: 30px;
    color: #4a4a4a;
    letter-spacing: 3px;
  }

  &__logout-link {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
