<div class='landing-page'>
  <div class='panel panel-default landing-page__panel'>
    <div class='panel-body landing-page__panel-body'>
      <h1 class='landing-page__panel-header'> {{ title | uppercase}} </h1>
      <a routerLink='/choose-quiz' class='btn btn-primary landing-page__login-btn landing-page__login-btn--google'>
        <img src='./assets/icons/g-logo.png' class='landing-page__login-btn--icon'/>
        Continue with Google
      </a>
      <a routerLink='/choose-quiz' class='btn btn-primary landing-page__login-btn landing-page__login-btn--facebook'>
        <img src='./assets/icons/fb-logo.png' class='landing-page__login-btn--icon'/>
        Continue with Facebook
      </a>
      <a routerLink='/choose-quiz' class='landing-page__continue-link'>
        or continue without signing up
      </a>
    </div>
  </div>
</div>
