.quiz-navigation {
  &__submit-section {
    display: flex;
    justify-content: flex-end;
  }

  &__pagination-section {
    display: flex;
    justify-content: center;
    margin: 25px 0;
  }

  &__pagination-icon {
    color: #7e57c2;
    position: relative;
    margin: 0 4px;

    & + & {
      &:before {
        content: ' ';
        width: 14px;
        height: 0;
        border: 2px solid #7e57c2;
        position: absolute;
        top: 10px;
        left: -10px;
      }
    }
  }

  &__next-question-btn {
    width: 160px;
    height: 40px;
    margin-top: 9px;
    font-size: 18px;
  }
}
